<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>


    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text" >XX購物網站</li>
            <li class="has-submenu">
              <a href="#">產品</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="#">滑鼠</a></li>
                <li><a href="#">鍵盤</a></li>
                <li><a href="#">螢幕</a></li>
              </ul>
            </li>
            <li><a href="#">周邊產品</a></li>
            <li><a href="#">配備</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="搜尋"></li>
            <li><button type="button" class="button">搜尋</button></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="row columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="#">首頁</a></li>
          <li><a href="#">3C產品</a></li>
          <li class="disabled">鍵盤</li>
          <li>
            <span class="show-for-sr">Current: </span> 藍芽鍵盤
          </li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <img class="thumbnail" src="https://hips.hearstapps.com/hmg-prod/images/actto-%E5%BE%A9%E5%8F%A4%E6%89%93%E5%AD%97%E6%A9%9F%E7%84%A1%E7%B7%9A%E8%97%8D%E7%89%99%E9%8D%B5%E7%9B%A4-1676003649.jpeg?crop=1xw:1xh;center,top&resize=980:*">
        <div class="row small-up-4">
          <div class="column">
            <img class="thumbnail" src="https://m.media-amazon.com/images/I/716eemR+V3L._AC_SX425_.jpg">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://m.media-amazon.com/images/I/71ddiWnSlhL._AC_SX425_.jpg">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://m.media-amazon.com/images/I/719LdQ2MPlL._AC_SX425_.jpg">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://m.media-amazon.com/images/I/716eemR+V3L._AC_SX425_.jpg">
          </div>
        </div>
      </div>
      <div class="medium-6 large-5 columns">
        <h3>actto 復古打字機無線藍牙鍵盤</h3>
        <p>精緻女孩必備！此款是韓國女孩幾乎家中可見的一款藍芽鍵盤，風格不同於造型上面的復古風，家中若有平板的朋友們，復古精緻的造型真的愛不釋手，獻給追求效率又不想失去儀式感的你。</p>

        <label>顏色
        <select>
          <option value="white">雲朵白</option>
          <option value="pink">玫瑰粉</option>
          <option value="yellow">奶油黃</option>
          <option value="green">薄荷綠</option>
          <option value="blue">海軍藍</option>
        </select>
        </label>

        <div class="row">
          <div class="small-3 columns">
            <label for="middle-label" class="middle">價格</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="middle-label" placeholder="1999">
          </div>
        </div>

        <a href="#" class="button large expanded">立刻購買</a>

        <div class="small secondary expanded button-group">
            <a class="button">Facebook</a>
            <a class="button">Telegram</a>
            <a class="button">Instagram</a>
          </div>
        </div>
    </div>

    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">推薦商品</a></li>
        <li class="tabs-title"><a href="#panel2">相似產品</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h4>推薦給您</h4>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" style="width: 200px" src="https://cs-a.ecimg.tw/items/DSAR9EA900FWMWJ/000001_1702881242.jpg">
            </div>
            <div class="media-object-section">
              <h5>羅技 MX Keys Mini 無線鍵盤</h5>
              <p>微凹鍵帽，完美敲擊：
                採 Perfect Stroke 技術，及球型碟狀的按鍵設計，讓指尖敲擊鍵更精準。
                精簡尺寸，節省空間，好攜帶：</p>
              <H3 style="color: royalblue">th:text="${變數}"; 相關內容</H3>
              <P style="color: hotpink" th:text="${session.msg1}"></P>
              <P style="color: rosybrown" th:text="${msg1}"></P>

              <P style="color: cornflowerblue" th:text="${msg2}"></P>
              <P style="color: violet" th:text="${param.mesg3}"></P>

              <P style="color: navy" th:text="${#vars.msg2}"></P>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" style="width: 200px" src="https://img.pchome.com.tw/cs/items/DSAR0SA900GEH6T/l000002_1703489719.jpg">
            </div>
            <div class="media-object-section">
              <h5>羅技 MX Anywhere 3S 無線行動滑鼠</h5>
              <p>Quick Clicks 全新靜音體驗
                8000 DPI 精準追蹤
                SMART ACTIONS 智能啟動，一鍵設定完成複雜任務</p>
              5 + 3 =<spaan th:text="${5+3}">0</spaan><br>
              5 - 3 =<spaan th:text="${5 - 3}">0</spaan><br>
              5 * 3 =<spaan th:text="${5*3}">0</spaan><br>
              5 / 3 =<spaan th:text="${5/3}">0</spaan><br><hr>

              5 &gt; 3 =<spaan th:text="${5>3}">0</spaan><br>
              5 &lt; 3 =<spaan th:text="${5<3}">0</spaan><br>
              5 != 3 =<spaan th:text="${5 != 3}">0</spaan><br>
              5 = 3 =<spaan th:text="${5 == 3}">0</spaan><br>
              5 &ge; 3 =<spaan th:text="${5>=3}">0</spaan><br>
              5 &le; 3 =<spaan th:text="${5<=3}">0</spaan><br>



            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" style="width: 200px" src="https://cs-a.ecimg.tw/items/DSAR23A900GEW5H/000001_1703491995.jpg">
            </div>
            <div class="media-object-section">
              <h5>羅技G Pro X 2 LIGHTSPEED無線電競耳麥</h5>
              <p>50公釐石墨烯單體
                35公釐有線/LIGHTSPEED無線/藍牙三模連線
                舒適耐用的設計</p>
            </div>
          </div>
          <label>
            My Review
            <textarea placeholder="請輸入訊息!!"></textarea>
          </label>
          <button class="button">送出訊息!!</button>
        </div>
        <div class="tabs-panel" id="panel2">
          <div class="row medium-up-3 large-up-5">
            <div class="column">
              <img class="thumbnail" style="width: 350px;height: 220px" src="https://myship.7-11.com.tw/i/cgdm/GM2305058146174/2305050140201225.jpg">
              <h5>文創商品 <small>$10</small></h5>
              <p>台灣鶯歌陶瓷吸水杯墊 維亞文創商品 </p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" style="width: 350px;height: 220px" src="https://myship.7-11.com.tw/i/cgdm/GM2305058146174/2305050140177184.jpg">
              <h5>文創商品 <small>$25</small></h5>
              <p>台灣文創設計帆布袋 維亞文創商品</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" style="width: 350px;height: 220px" src="https://myship.7-11.com.tw/i/cgdm/GM2305178620514/2312200215128745.jpg">
              <h5>文創商品 <small>$30</small></h5>
              <p>Dinotaeng 絨毛娃娃 BOBO Plush Doll 25cm</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" style="width: 350px;height: 220px" src="https://myship.7-11.com.tw/i/cgdm/GM2305178620514/2312200215123234.jpg">
              <h5>文創商品 <small>$20</small></h5>
              <p>Dinotaeng airpods 立體袋鼠耳機殼</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" style="width: 350px;height: 220px" src="https://myship.7-11.com.tw/i/cgdm/GM2305178620514/2312200215079009.jpg">
              <h5>文創商品 <small>$50</small></h5>
              <p>Dinotaeng Quokka 筆電包 11/13/15吋</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row column">
      <hr>
      <ul class="menu">
        <li th:text="XT電競購物網站">Yeti Store</li>
        <li><a href="#">首頁</a></li>
        <li><a href="#">關於我</a></li>
        <li><a href="#">聯絡我們</a></li>
        <li class="float-right">Copyright 2023</li>
      </ul>
    </div>



    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



